<% category.forEach(element =>{ %>
    
    <div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Detail Category: <%= element.name  %></h1>
  
           
    </div>

    <div class="col py-3">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/category">Category</a></li>
                      <li class="breadcrumb-item active"><%= element.name  %></li>
                    </ol>
                  </nav>
            </div>
            <div class="col text-end fw-lighter">
                <b>Last Updated <%= new Date(element.updatedAt).toUTCString() %></b>
            </div>
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"><b>Category Name:</b></div>
                <div class="col"><%= element.name  %></div>
            </div>
        </li>
    </ul>

    

        
<% }) %>