<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">Inventory System</a>
  
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0">
   
  </div>

   
      
  
    <button type="button" class="btn btn-danger text-end"><a href="/auth/logout" class="text-white" style="text-decoration: none;">Logout</a></button>

</header>
